<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Easy Tunnel Chat!</title>
	</head>
	<body>
		
		<h2>チャットルームの作成</h2>
		<form method="POST" novalidate="novalidate">
                        {{ form.hidden_tag() }}
                        {{ form.chatroomname.label }} {{ form.chatroomname(size=20) }}
                        {% if form.chatroomname.errors %}
                        <ul class="errors">
                        {% for error in form.chatroomname.errors %}
                                <li>{{ error }}</li>
                                <span style="color: black;">{% endfor %}</span>
                        </ul>
                        {% endif %}
                        {{ form.password.label}} {{ form.password(size=20) }}
                        {% if form.password.errors %}
                        <ul class="errors">
                        {% for error in form.password.errors %}
                                <li>{{ error }}</li>
                                <span style="color: black;">{% endfor %}</span>
                        </ul>
                        {% endif %}
                        <input type="submit" value="送信">
      		</form>
	</body>
</html>
