<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<title>INDEX!</title>
	</head>

	<body>
		<h1>test!,{{ name }}</h1>
		<a href=/create_chatroom>リンク</a><br>
		<a href="/sign_in">ログイン</a><br>
		<a href="/sign_up">新規登録</a><br>
		<form method="POST">
			{% for message in get_flashed_messages() %}
            <p style="color: red;">{{ message }}</p>
            {% endfor %}
			{{ form.hidden_tag() }}
			{{ form.chatroomname.label }} {{ form.chatroomname(size=20) }}
			{% if form.chatroomname.errors %}
			{% for error in form.chatroomname.errors %}
			<span style="color: black;">{{ error }}</span>
			{% endfor %}
			</ul>
			{% endif %}
			{{ form.password.label}} {{ form.password(size=20) }}
			{% if form.password.errors %}
			{% for error in form.password.errors %}
			<span style="color: black;">{{ error }}</span>
			{% endfor %}	
			{% endif %}
			<input type="submit" value="送信">
		</form>
	</body>
</html>
