<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<title>INDEX!</title>
	</head>

	<body>
		<h1>test!,{{ name }}</h1>
		<a href=/create_chatroom>リンク</a><br>
		<a href="/sign_in">ログイン</a><br>
		<a href="/sign_up">新規登録</a><br>
		<form method="POST">
			{{ form.csrf_token }}
			{{ form.chatroomname.label }} {{ form.chatroomname(size=20) }}
			{% if form.chatroomname.errors %}
			<ul class="errors">
				<li>{{ error }}</li>
				<span style="color: black;">{% endfor %}</span>
			</ul>
			{% endif %}
			{{ form.password.label}} {{ form.password(size=20) }}
			{% if form.password.errors %}
			<ul class="errors">
				<li>{{ error }}</li>
				<span style="color: black;">{% endfor %}</span>
			</ul>	
			<input type="submit" value="送信">
		</form>
	</body>
</html>
